* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 115px;
    background-color: #06131f;
}

nav img {
    height: 75px;
    width: 75px;
    margin-left: 165px;
    margin-top: 20px;
}

#app {
    background-color: #1d2d3c;
    height: 100%;
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

ul li {
    color: white;
    width: calc(100% / 3 - 90px * 3 / 2);
    background-color: #112030;
    border-radius: 25px;
    text-align: center;
    padding: 40px;
}

ul li img {
    width: 280px;
    height: 280px;
}

.song-title {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.band-name {
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.release {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.overlay-show {
    position: fixed;
    top: 200px;
    left: 600px;
    background-color: #112031;
}

.overlay-show .container .song-title,
.overlay-show .container .band-name,
.overlay-show .container .release {
    color: white;
}